<header class="header">
    <div class="header-left">
        <button type="button" class="menu-button" (click)="toggleSidebar.emit()">
            ☰
        </button>
        <div class="header-title">
            SIADE | UEF "ATANASIO VITERI"
        </div>
    </div>
    <div class="header-right">
        <button type="button" class="theme-button" (click)="toggleTheme()">
            ◐
        </button>
        <button type="button" class="theme-button" (click)="startCurrentTour()">
            ✦
        </button>
        <div class="user-menu-container">
            <button type="button" class="user-avatar" (click)="toggleUserMenu()">
                {{ userInitials }}
            </button>
            @if (isUserMenuOpen) {
            <div class="user-dropdown">
                <div class="user-dropdown-header">
                    <div class="user-avatar-large">
                        {{ userInitials }}
                    </div>
                    <div class="user-details">
                        <div class="user-fullname">
                            {{ userName }}
                        </div>
                        <div class="role-badge" [ngClass]="roleClass">
                            {{ formattedRole }}
                        </div>
                        <div class="user-last-login">
                            Último acceso
                        </div>
                        <div class="user-last-login-date">
                            {{ sessionService.formattedLastLogin }}
                        </div>
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <button type="button" class="dropdown-item" (click)="logout.emit()">
                    Cerrar sesión
                </button>
            </div>
            }
        </div>
    </div>
</header>