<div class="main-layout">
    <app-header (toggleSidebar)="toggleSidebar()" (logout)="logout()"></app-header>
    <app-breadcrumb></app-breadcrumb>
    @if (mobileMenuOpen) {
    <div class="mobile-overlay" (click)="closeMobileMenu()"></div>
    }
    <div class="main-body">
        <app-sidebar [collapsed]="mobileMenuOpen ? false : sidebarCollapsed" [class.mobile-open]="mobileMenuOpen"
            (closeMobileMenu)="closeMobileMenu()">
        </app-sidebar>
        <main class="content">
            <section class="page-content">
                <router-outlet />
            </section>
        </main>
    </div>
</div>